.user-form
  .user-form--header SIGN UP
  = form_for user do |f|
    = f.text_field :name, class: 'user-form--input', placeholder: 'Username'
    = f.password_field :password, class: 'user-form--input', placeholder: 'Password'
    = f.password_field :password_confirmation, class: 'user-form--input', placeholder: 'Confirm password'
    = f.submit "Register me!", class: 'user-form--submit'
  .user-form--footer
    = link_to "I've already signed up", login_path
